:root {
    --primary-color: rgb(138, 179, 216);
    --secondary-color:rgb(180, 218, 225);
    --primary-background:#b8d3ed;
    }

    .gridh { grid-area: header; font-size: 30px; }
    .gridmu { grid-area: menu; font-size:18px; }
    .gridm { grid-area: main;}
    .gridf { grid-area: footer; }


.grid-layout {
        display: grid;
        grid-template-areas:
          'header header header header'
          'menu menu menu menu'
          'main main main main'
          'footer footer footer footer';
        gap: 10px;
        padding: 0px;
      }
      
.grid-layout > div {
        background-color: rgba(255, 255, 255, 0.8);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        padding: 20px 0;
      }

.button-grid {
        background-color: var(--primary-color);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        padding: 20px;
      }
.button a {
    hover:var(--primary-background);  
      }

.gridh {
    background-color: whitesmoke;
    opacity: 0.5;

}
@media screen and (min-width:600px) {
    header{
        display: flex-box;
        justify-content:space-evenly;
    }
}

@media screen and (min-width:400px) {
    header{
        display: flex-box;
        justify-content:space-evenly;
    }
}