/* 
  
 .all-blogs{
    background-color: green;
    margin: 10px;
    padding: 5px;
   
  }
  
  .blogs {
    background: green;
    padding: 25px;
  margin: 30px;
  }
  
  .blogs > h2, p {
    margin: 4px;
    font-size: 90%;
    background-color: grey;
  }

  .blogs img {
    display: center;

  } */
