:root {
    --primary-color: rgb(245, 244, 220);
    --secondary-color:rgb(115, 141, 137);
    --primary-background:rgb(245, 244, 220);
    }
    
    header {
        background-color: var(--primary-background)
    }
    
    #nav-menu {
        font-size:3vw;
        color:black;
        background-color: var(--secondary-color);
        justify-content: space-evenly;
        display: flex;
    }
    
    #nav-menu a {
        text-decoration: none;
        color: black;
       
    
    }
    
    a:hover {
        
        background-color: var(--primary-background);
        }
    