:root {
    --primary-color: rgb(193, 215, 218);
    --secondary-color:rgb(236, 241, 243);
    --primary-background:#74878a;
    }
     
     /* {
        box-sizing:border-box;
     }  */
   
     .blog-posts {
        float:initial;
        border: dotted 2px;
        padding: 10px;
        margin: 15px;
        background-color: var(--primary-background)
    
     }
  
       .blog-align:after {
        content: "";
        display: table;
        clear: both;
      }

      .blog-pic img {
        /* max-width: 100%; */
        align-items: center;
        height: auto;
        padding: 3px;
      } 

      div.blog-title {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        text-align: center;
        padding: 20px;
      }

      
      @media only screen and (max-width: 700px) {
        .blog-posts {
          width: 50%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 600px) {
       .blog-posts {
          width: 100%;
        }
      }

      @media only screen and (max-width: 400px) {
        .blog-posts {
           width: 100%;
         }
       } 
