
/* maind body */
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        background-color: var(--primary-background);
    }

.contactus img {
    display: flexbox;
    position:relative;
    border-radius: 25px;
}
/* Contact Header */
.contact-text{
    position:absolute;
    background-color: whitesmoke;
    opacity: 0.5;
    border-radius: 20px;
    /* padding:20px; */
    top: 20%;
    left: 10%;
    right: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5vw;
    text-align: center;
}


h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    
}
/* Input text fields for contact form  */
input[type=text] {
    width: 100%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=checkbox] {
    /* width: 100%; */
    padding: 1px 2px;
    margin: 1px 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
  }
.contact-form {
    display: block;
    position: relative;
    border-radius: 20px;
    gap: 1rem; 
    padding: 5px;
    flex-direction:column;
    margin-bottom: 10px;
    font-size:18px;    
}

.contact-form label {
        font-size: 15px;
        padding: 1px;
        max-width: 75%;
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
/* .contact-form input {
        border: 1px solid var(--primary-color);
        
        outline: none;
        border-radius: 4px;
        font-size: 15px;
}
  */
/*  Form design properties */
form {
        /* min-height:50dvh; */
        border-radius: 20px;
        padding:20px;
        display: flex;
        flex-direction: column;
        /* justify-self: auto; */
        /* font-size: 15px; */
        margin-bottom: 10px;
        max-width: 50%;
        background-color:var(--primary-background);
        
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 8px 22px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 25px;
    }
/* submit button and styling */

.submit-btn {   
    text-align: center;   
    }
#submit {
   
    background-color: var(--primary-background);
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    min-width: 70px;
    font-size: 15px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 8px 22px 0 rgba(0, 0, 0, 0.25);
    }

 #submit:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* reset button styling */
.reset {
    background-color: var(--primary-background);
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    min-width: 70px;
    font-size: 15px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 8px 22px 0 rgba(0, 0, 0, 0.25);
    }
    
.reset:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* .social-links{
        display: flex;
        size: 50px;
        padding: 30px;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        text-align: center;
        background-color: var(--primary-background);
        }

.social-media a i {
        font-size: 24px;
        color: black;
        } */


/* Footer menu bar */

.footer-menu {
    text-align: center;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size:16px;
    color:black;
    padding: 20px ;
    /* margin-top: 20px; */
    margin-bottom: 30px;
    background-color: var(--primary-background);
}

ul a {
    display: flexbox;
    text-align: center;
    justify-content: space-evenly;
    text-decoration:none;
    color: var(--secondary-background);    
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    padding: 10px;
    border-radius: 10px; 
}
        
ul a:hover {
            color: black;
        }

@media screen and (min-width: 1040px) {
        form {
            width: 500px;
        }
        .form {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        }


