:root {
    --primary-color: rgb(138, 179, 216);
    --secondary-color:rgb(180, 218, 225);
    --primary-background:#b8d3ed;
    }

    main {
        display: flex;
        flex-direction: column;
     }
     .blog-posts {
        display:inline-flexbox;
        float:initial;
        /* border: dotted 2px; */
        border-radius: 20px;
        padding: 25px;
        margin: 15px;
        background-color: var(--primary-background);
        /* display: flex; */
        background-color: white;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 8px 22px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 25px;
    
     }
/*   
       .blog-align:after {
        content: "";
        display: table;
        clear: both;
      } */

      .blog-pic img {
        align-items: center;
        /* border-radius: 50px; */
        display:inline-flex;
        margin: auto;
        height: auto;
        padding: 3px;
      } 
      .blog-pic img:hover {
        opacity: 0.5;
      }
    
      div.blog-title {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 4vw;
        text-align: center;
        padding: 40px;
      }

      @media only screen and (max-width: 700px) {
        .blog-posts {
          width: 50%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 600px) {
       .blog-posts {
          width: 75%;
        }
      }

      @media only screen and (max-width: 375px) {
        .blog-posts {
           width: 100%;
         }
       }